<a href="/dashboard">&larr; Voltar</a>

<div class="admin-title">
  <h2>Adicionar novo usuario</h2>
</div>

<form action="/register" method="POST">

  <label for="username"><b>Nome de usuario</b></label>
  <input type="text" placeholder="Username" name="username_registro" autocomplete="new-username">

  <label for="password"><b>Senha</b></label>
  <input type="password" placeholder="Senha" name="password_registro" autocomplete="new-password">

  <input type="submit" value="Registrar" class="btn">

</form>
