<a href="/dashboard">&larr; Voltar</a>

<div class="admin-title">
  <h2>Adicionar nova categoria</h2>
</div>

<form action="/add-category" method="POST" enctype="multipart/form-data">

  <label for="title"><b>Nome da categoria</b></label>
  <input type="text" placeholder="Nome da categoria" name="name">

  <input type="submit" value="Adicionar" class="btn">

</form>
