<h3>Log-In</h3>

<form action="/login" method="POST">

  <label for="username"><b>Nome de usuario</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Senha</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Login" class="btn">

</form>

<h3>Registro</h3>
<form action="/register" method="POST">

  <label for="username"><b>Nome de usuario</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Senha</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn">

</form>